*{
    outline: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
    justify-content: center;
}

header img, header p{
    margin-top: 15px;
    margin-right: 20px;
    font-size: 13px;
}

header p:hover{
    cursor: pointer;
    border-bottom: 1px solid black;
}

header img{
    cursor: pointer;
}
header img:first-of-type{
    opacity: .65;
}
.user-icon {
    border-radius: 40px;
}

.grid-icon{
    width: 16px;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main span:hover{
    cursor: pointer;
    border-bottom: 1px solid blue;
}

.logo{
    margin-bottom: 20px;
}

.search-bar{
    display: flex;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 25px;
}
.search-bar:hover {
    box-shadow: 0px 1px 7px rgba(0,0,0,0.2);
}
.search-bar:focus {
    box-shadow: 0px 1px 7px rgba(0,0,0,0.2);
}

.search-bar input{
    border: none;
    font-size: 15px;
    width: 85%;
    height: 30px;
}

.search-bar img{
    width: 16px;
    opacity: .55;
}

.search-bar .keyboard-icon:hover{
    cursor: pointer;
}

.search-bar .search-icon{
    margin-left: 2%;
    margin-right: 10px;
}

.search-bar .keyboard-icon{
    float: right;
    /* margin-left: 10px; */
    margin-right: 10px;
    /* opacity: .55; */
    width: 20px;
}

.buttons button{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
}
.aviable-txt{
    font-size: 14px;
}
.buttons button:hover{
    cursor: pointer;
    border: solid lightgrey 1.4px;
}

@media(max-width: 550px){
    .logo{
        width: 200px;
    }
    #form1{
        width: 80%;

    }

    .search-bar, #search-input {
        max-width: 93.5%;
    }
    .aviable-txt{
        font-size: 12px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }
}